* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-image: url("Img/game-bank-188882_1920.jpg");
  background-position: center/cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.container {
  height: 100vh;
  width: 100%;
}
.ticket {
  position: absolute;
  top: 2%;
  left: 70%;
  height: 100vh;
  width: 50%;
  transform: rotate(-45deg);
  background-image: url("Img/tag-32560_640.png");
  background-position: center/cover;
  background-repeat: no-repeat;
}

#casinoCardName {
  position: absolute;
  top: 63%;
  left: 75%;
  width: 150px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  transform: rotate(-15deg);
}

#enter {
  position: absolute;
  top: 75.5%;
  left: 76%;
  width: 150px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  transform: rotate(-14deg);
  color: white;
}
